# Environment
BUN_APP_ENV="development" # production
FRONTEND_URL="http://localhost:3000" # or your frontend domain
VITE_BACKEND_URL="http://localhost:3001" # or you backend domain

# Better Auth Credentials
BETTER_AUTH_SECRET="your_secret_key" # or generate one with command `openssl rand -base64 32`
BETTER_AUTH_URL="http://localhost:3001" # or your backend domain


# Google Oauth Credentials
GOOGLE_CLIENT_ID="your_google_client_id_key"
GOOGLE_CLIENT_SECRET="your_google_secret_key"
